In [49]:
import numpy as np
import pandas as pd

# Data Preparation

Read the '.csv' file, drop the 'Unnamed: 0' column, display the first 5 rows, and check for missing values in the data set.

In [50]:
df=pd.read_csv('Lok_Sabha_2019.csv',index_col=[0])

In [21]:
df

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.0,52,ST,12th Pass,3.099414e+06,231450.0,376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0.0,54,ST,Post Graduate,1.847789e+07,847000.0,318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3.0,52,ST,12th Pass,3.649100e+07,15300000.0,314057,181,314238,21.092771,29.534285,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.0,58,SC,Doctorate,7.427404e+07,8606522.0,644459,2416,646875,33.383823,56.464615,1937690
5,Uttar Pradesh,AGRA,Manoj Kumar Soni,0,BSP,Elephant,MALE,0.0,47,SC,Post Graduate,1.337844e+08,22251891.0,434199,1130,435329,22.466390,37.999125,1937690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,Maharashtra,YAVATMAL-WASHIM,Vaishali Sudhakar Yede,0,PHJSP,Whistle,FEMALE,0.0,28,GENERAL,10th Pass,1.168500e+06,9000.0,20563,57,20620,1.076097,1.755157,1916185
2258,Maharashtra,YAVATMAL-WASHIM,Anil Jayram Rathod,0,IND,SHIP,MALE,0.0,43,GENERAL,Post Graduate,4.890000e+06,1020000.0,14661,25,14686,0.766419,1.250060,1916185
2259,Telangana,ZAHIRABAD,B.B.PATIL,1,TRS,Car,MALE,18.0,63,GENERAL,Graduate,1.287852e+09,11535000.0,434066,178,434244,28.975369,41.574183,1498666
2260,Telangana,ZAHIRABAD,MADAN MOHAN RAO,0,INC,Hand,MALE,0.0,49,GENERAL,Post Graduate,9.036630e+08,0.0,427900,115,428015,28.559732,40.977823,1498666
2261,Telangana,ZAHIRABAD,BANALA LAXMA REDDY,0,BJP,Lotus,MALE,3.0,47,GENERAL,12th Pass,5.857733e+07,5250000.0,138731,216,138947,9.271379,13.302678,1498666

In [128]:
df.head(5).isnull().sum()

STATE                                      0
CONSTITUENCY                               0
NAME                                       0
WINNER                                     0
PARTY                                      0
SYMBOL                                     0
GENDER                                     0
CRIMINAL CASES                             0
AGE                                        0
CATEGORY                                   0
EDUCATION                                  0
ASSETS                                     0
LIABILITIES                                0
GENERAL VOTES                              0
POSTAL VOTES                               0
TOTAL VOTES                                0
OVER TOTAL ELECTORS IN CONSTITUENCY        0
OVER TOTAL VOTES POLLED IN CONSTITUENCY    0
TOTAL ELECTORS                             0
dtype: int64

In [23]:
df

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.0,52,ST,12th Pass,3.099414e+06,231450.0,376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0.0,54,ST,Post Graduate,1.847789e+07,847000.0,318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3.0,52,ST,12th Pass,3.649100e+07,15300000.0,314057,181,314238,21.092771,29.534285,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.0,58,SC,Doctorate,7.427404e+07,8606522.0,644459,2416,646875,33.383823,56.464615,1937690
5,Uttar Pradesh,AGRA,Manoj Kumar Soni,0,BSP,Elephant,MALE,0.0,47,SC,Post Graduate,1.337844e+08,22251891.0,434199,1130,435329,22.466390,37.999125,1937690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,Maharashtra,YAVATMAL-WASHIM,Vaishali Sudhakar Yede,0,PHJSP,Whistle,FEMALE,0.0,28,GENERAL,10th Pass,1.168500e+06,9000.0,20563,57,20620,1.076097,1.755157,1916185
2258,Maharashtra,YAVATMAL-WASHIM,Anil Jayram Rathod,0,IND,SHIP,MALE,0.0,43,GENERAL,Post Graduate,4.890000e+06,1020000.0,14661,25,14686,0.766419,1.250060,1916185
2259,Telangana,ZAHIRABAD,B.B.PATIL,1,TRS,Car,MALE,18.0,63,GENERAL,Graduate,1.287852e+09,11535000.0,434066,178,434244,28.975369,41.574183,1498666
2260,Telangana,ZAHIRABAD,MADAN MOHAN RAO,0,INC,Hand,MALE,0.0,49,GENERAL,Post Graduate,9.036630e+08,0.0,427900,115,428015,28.559732,40.977823,1498666
2261,Telangana,ZAHIRABAD,BANALA LAXMA REDDY,0,BJP,Lotus,MALE,3.0,47,GENERAL,12th Pass,5.857733e+07,5250000.0,138731,216,138947,9.271379,13.302678,1498666

# Theme 1: Global
1.1) What is the count of the educational qualification of the candidates?

In [52]:
df["EDUCATION"].value_counts()

Post Graduate            503
Graduate                 441
Graduate Professional    336
12th Pass                256
10th Pass                196
8th Pass                  78
Doctorate                 73
Others                    50
Literate                  30
5th Pass                  28
Not Available             22
Illiterate                 5
Name: EDUCATION, dtype: int64

# Theme 2: Party Level
2.1) Name the top 5 parties with maximum winners. Also, state the count of winners from each of them.

In [53]:
df_new=df[df['WINNER']==1]

In [54]:
df_new

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.0,52,ST,12th Pass,3.099414e+06,231450.0,376892,482,377374,25.330684,35.468248,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.0,58,SC,Doctorate,7.427404e+07,8606522.0,644459,2416,646875,33.383823,56.464615,1937690
7,Maharashtra,AHMADNAGAR,Dr. SUJAY RADHAKRISHNA VIKHEPATIL,1,BJP,Lotus,MALE,0.0,37,GENERAL,Doctorate,1.686646e+08,2623964.0,696961,7699,704660,37.856533,58.425159,1861396
10,Gujarat,AHMEDABAD EAST,Patel Hasmukhbhai Somabhai,1,BJP,Lotus,MALE,0.0,58,GENERAL,Others,7.469969e+07,6252577.0,745810,4024,749834,41.384970,67.005462,1811851
12,Gujarat,AHMEDABAD WEST,DR. KIRIT P. SOLANKI,1,BJP,Lotus,MALE,0.0,69,SC,Post Graduate,8.947404e+07,0.0,638241,3381,641622,39.044323,64.211450,1643317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,Maharashtra,WARDHA,Ramdas Chandrabhanji Tadas,1,BJP,Lotus,MALE,0.0,65,GENERAL,10th Pass,6.580782e+07,8961387.0,575488,2876,578364,33.176713,53.918820,1743283
2247,Kerala,WAYANAD,Rahul Gandhi,1,INC,Hand,MALE,5.0,48,GENERAL,Post Graduate,1.588771e+08,7201904.0,705034,1333,706367,51.951012,64.640694,1359679
2250,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,1,BJP,Lotus,MALE,0.0,41,GENERAL,Post Graduate,1.551950e+08,40097329.0,862058,3590,865648,36.499913,60.010593,2371644
2253,Maharashtra,YAVATMAL-WASHIM,Bhavana Pundlikrao Gawali,1,SHS,Bow and Arrow,FEMALE,3.0,46,GENERAL,Graduate,9.687319e+07,7396250.0,540104,1994,542098,28.290483,46.142912,1916185
2259,Telangana,ZAHIRABAD,B.B.PATIL,1,TRS,Car,MALE,18.0,63,GENERAL,Graduate,1.287852e+09,11535000.0,434066,178,434244,28.975369,41.574183,1498666

In [55]:
df_new['PARTY'].value_counts().head(5)

BJP      300
INC       52
DMK       23
YSRCP     22
AITC      22
Name: PARTY, dtype: int64

2.2) Find the Male: Female ratio in the top 5 parties which have the maximum number of winners.

In [56]:
df_male=df_new[df_new['GENDER']=='MALE']["PARTY"].value_counts().head(5)

In [57]:
df_male

BJP      260
INC       46
DMK       21
YSRCP     18
SHS       17
Name: PARTY, dtype: int64

In [58]:
df_female=df_new[df_new['GENDER']=='FEMALE']["PARTY"].value_counts().head(5)

In [59]:
df_female

BJP      40
AITC      9
INC       6
BJD       4
YSRCP     4
Name: PARTY, dtype: int64

In [60]:
for i in range(0,5):
    print(df_male[i],':',df_female[i])

260 : 40
46 : 9
21 : 6
18 : 4
17 : 4

2.3) What is the count of candidates from different categories for the top 5 parties which have the maximum number of winners?

In [61]:
a_list=['BJP','INC','DMK','AITC','YSRCP']

In [62]:
for i in a_list:
    print('Candidates according to the category in a party {}'.format(i),'is',df_new[df_new['PARTY']==i]['CATEGORY'].value_counts())

Candidates according to the category in a party BJP is GENERAL    216
SC          45
ST          39
Name: CATEGORY, dtype: int64
Candidates according to the category in a party INC is GENERAL    42
SC          6
ST          4
Name: CATEGORY, dtype: int64
Candidates according to the category in a party DMK is GENERAL    19
SC          4
Name: CATEGORY, dtype: int64
Candidates according to the category in a party AITC is GENERAL    17
SC          5
Name: CATEGORY, dtype: int64
Candidates according to the category in a party YSRCP is GENERAL    17
SC          4
ST          1
Name: CATEGORY, dtype: int64

2.4) What is the average age of the candidates for the top 5 parties which have the maximum number of winners?

In [63]:
for i in a_list:
    print('The average age of {}'.format(i),'is', df_new[df_new['PARTY']==i]['AGE'].mean())

The average age of BJP is 54.803333333333335
The average age of INC is 55.32692307692308
The average age of DMK is 55.82608695652174
The average age of AITC is 53.95454545454545
The average age of YSRCP is 50.27272727272727

# Theme 3: State Level
3.1) What are the top 5 states with the maximum number of constituencies?

In [111]:
df4=pd.DataFrame(df.groupby('STATE')['CONSTITUENCY'].nunique()).sort_values(by='CONSTITUENCY',ascending=False).head(5)
df4

               CONSTITUENCY
STATE
Uttar Pradesh            80
Maharashtra              48
West Bengal              42
Bihar                    40
Tamil Nadu               38

3.2) Amongst the top 5 states with the most number of constituencies, find the average number of criminal cases per candidate.

In [117]:
lst=['Uttar Pradesh','Maharashtra','West Bengal','Bihar','Tamil Nadu']

In [125]:
for i in lst:
    df_c=df[df['STATE']==i]['NAME'].unique().tolist()
print(df_c)

['S. JAGATHRAKSHAKAN', 'A.K. MOORTHY', 'N.G. PARTHIBAN', 'Y.R. PAVENDHAN', 'RAJENDRAN, N.', 'VISHNU PRASAD M K', 'ELUMALAI V', 'SENTHAMIZHAN G', 'TAMIZHARASI A', 'SHAJI V', 'DAYANIDHI MARAN', 'SAM PAUL. S.R.', 'KAMEELA NASSER', 'Dr.KARTHIKEYAN. R', 'SHEIK MOHAMED @ DHEHLAN BAQAVI', 'Dr. KALANIDHI VEERASWAMY', 'ALAGAAPURAM R. MOHANRAJ', 'A. G. MOURYA', 'KALIYAMMAL.P', 'P.SANTHANA KRISHNAN', 'T.SUMATHY (A) THAMIZHACHI THANGAPANDIAN', 'Dr.J.JAYAVARDHAN', 'R.RANGARAJAN', 'A.J.SHERINE', 'Dr.E.SUBAYA (A) ESAKKI SUBAYA', 'THIRUMAAVALAVAN THOL', 'CHANDRASEKAR P', 'ELAVARASAN A', 'SIVAJOTHI M', 'RAVI T', 'NATARAJAN. P.R', 'RADHAKRISHNAN. C.P', 'MAHENDRAN. R', 'KALYANA SUNDARAM. S', 'APPATHURAI. N.R.', 'T. R. V .S. RAMESH', 'Dr. R. GOVINDASAMY', 'K. THANGAVEL', 'R. CHITHRA', 'V. ANNAMALAI', 'DNV SENTHILKUMAR. S.', 'ANBUMANI RAMADOSS', 'PALANIAPPAN. P.', 'RUKMANIDEVI. R.', 'RAJASEKAR. D.', 'VELUSAMY, P.', 'JOTHIMUTHU, K.', 'JOTHI MURUGAN,P.', 'MANSOORALI KHAN, A.', 'SUTHAKARAN, S. Dr.', 'GANESHAMURTHI A', 'MANIMARAN G', 'SARAVANAKUMAR A', 'SEETHALAKSHMI M K', 'SENTHILKUMAR K C', 'Gautham Sigamani Pon', 'Sudhish L K', 'Komugi Maniyan M', 'Sharfudeen S', 'Ganesh H', 'Selvam.G', 'Maragatham K', 'Sivaranjani.D', 'Munusamy A', 'Vasanthakumar. H', 'RADHAKRISHNAN. P', 'JAINTEEN. V', 'LEKSHMANAN. E', 'Jothimani S', 'Thambidurai M', 'Karuppaiya R', 'Thangavel P S N', 'Hariharan Dr R', 'Dr.A.CHELLAKUMAR', 'K.P.MUNUSAMY', 'MADHUSOODHANAN.N', 'SRI KARUNYA SUBRAHMANYAM', 'VENKATESAN S', 'RAJ SATYEN V.V.R', 'DAVID ANNADURAI K', 'ALAGAR M', 'PANDIAMMAL J', 'RAMALINGAM. S', 'ASAIMANI. S', 'SENTHAMIZHAN. S', 'SUBHASHINI. K', 'REFAYUDEEN. M', 'SELVARAJ M', 'SARAVANAN M', 'SENGODI T', 'MALATHI P', 'GURUVIAH K', 'CHINRAJ A.K.P', 'KALIAPPAN P', 'BASKAR B', 'THANGAVELU R', 'SAMINATHAN P.P', 'RAJA, A.', 'THIYAGARAJAN, M.', 'RAJENTHIRAN, N.', 'RAMASWAMY, M.', 'Dr.PAARIVENDHAR, T. R', 'SIVAPATHY, N.R', 'SHANTHI, K.', 'RAJASEKARAN, M.', 'SHANMUGA SUNDARAM. K', 'MAHENDRAN. C', 'MOOKAMBIKA. R', 'SANUJA. U', 'MUTHUKUMAR. S', 'K. NAVASKANI', 'NAINAR NAGENTHRAN', 'V.D.N. ANANDH. B.E.,', 'T. BHUVANESWARI', 'VIJAYA BASKAR', 'PARTHIBAN.S.R', 'SARAVANAN.K.R.S', 'PRABHU MANIKANDAN.M', 'SELVAM.S.K', 'RASA.A', 'KARTI P CHIDAMBARAM', 'H.RAJA', 'V.PANDI', 'V.SAKTHI PRIYA', 'KAVINGNAR SNEKAN', 'P.RAJENDHIRAN', 'Baalu.T.R.', 'Vaithilingam A', 'Sridhar M', 'Mahendran.H', 'Tambaram Narayanan G', 'DHANUSH.M.KUMAR', 'Dr.KRISHNASAMY.K', 'PONNUTHAI. S', 'MATHIVANAN.S.S', 'MUNESHWARAN. K', 'PALANIMANICKAM,S.S.', 'NATARAJAN,N.R .', 'MURUGESAN, P.', 'KRISHNAKUMAR,N.', 'SELVARAJ,R .', 'SAMPATH RAMADOSS', 'RAVEENDRANATH KUMAR, P', 'ELANGOVAN, E.V.K.S.', 'THANGA TAMILSELVAN', 'SHAGUL HAMEED', 'RADHAKRISHNAN, S.', 'Dr.K.Jayakumar', 'Dr.P.Venugopal', 'Logarangan.M', 'M.VETRISELVI', 'Pon.Raja', 'R.Anbuchezhian', 'KANIMOZHI KARUNANIDHI', 'DR. TAMILISAI SOUNDARARAJAN', 'Dr. BHUVANESWARAN, M.', 'CHRISTANTINE RAJASEKAR, S.', 'PON KUMARAN, T.P.S.', 'Thirunavukkarasar. SU', 'DR.Elangovan. V', 'Sarubala. R. Thondaiman', 'Vinoth. V', 'Anandharaja. V', 'GNANATHIRAVIAM S', 'PAUL MANOJ PANDIAN', 'MICHAEL RAYAPPAN S', 'SATHYA B', 'VENNIMALAI M', 'SUBBARAYAN, K.', 'ANANDAN, M.S.M.', 'CHANDIRAKUMAR, V.S.', 'SELVAM, S.R.', 'JAGANATHAN, P.', 'ANNADURAI C N', 'AGRI KRISHNAMURTHY S S', 'GNANASEKAR A', 'RAMESHBABU R', 'ARUL R', 'RAVIKUMAR D', 'VADIVEL RAVANAN S', 'GANAPATHY N', 'PRAKALATHA D', 'ANBIN POYYAMOZHI S', 'ARASAN K', 'MANICKAM TAGORE, B.', 'ALAGARSAMY, R.', 'PARAMASIVA IYYAPPAN, S.', 'MUNIYASAMY, V.', 'ARULMOZHITHEVAN, K.']
<class 'list'>

In [126]:
for i in df_c:
    print(df[df['NAME']==i]['CRIMINAL CASES'].mean())

2.0
6.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
3.0
0.0
6.0
0.0
3.0
0.0
0.0
0.0
0.0
0.0
0.0
3.0
0.0
0.0
nan
0.0
1.0
0.0
0.0
0.0
3.0
0.0
1.0
0.0
0.0
0.0
1.0
12.0
4.0
0.0
1.0
0.0
nan
1.0
nan
0.0
0.0
0.0
0.0
2.0
0.0
1.0
5.0
0.0
nan
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
2.0
0.0
0.0
0.0
5.0
0.0
0.0
0.0
0.0
0.0
3.0
0.0
0.0
0.0
0.0
2.0
0.0
0.0
0.0
0.0
2.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.0
0.0
0.0
0.0
2.0
0.0
0.0
5.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
4.0
0.0
0.0
4.0
0.0
0.0
3.0
3.0
8.0
3.0
nan
0.0
0.0
1.0
0.0
0.0
1.0
1.0
0.0
1.0
9.0
0.0
3.0
0.0
0.0
0.0
3.0
0.0
0.0
0.0
0.0
10.0
nan
0.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
6.0
0.0
1.0
1.0
0.0
0.0
0.0
0.0
1.0
0.0
4.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
0.0
1.0
3.0
0.0
nan
0.0

3.3) Amongst the top 5 states with the most number of constituencies, find the average value of the assets per candidate.

In [127]:
for i in df_c:
    print(df[df['NAME']==i]['ASSETS'].mean())

1146984897.0
46023417.0
133000.0
3520000.0
10961100.0
234564815.0
111158268.0
22006894.0
2934243.0
44642380.0
116790616.0
299512500.0
71905468.0
17606805.0
2274313.0
405294714.0
45742218.0
41590000.0
1157000.0
14263825.0
91793460.0
32896587.0
22654934.0
3466760.0
2375841961.0
9244092.0
27182370.0
14672869.0
nan
2864000.0
20284430.0
671140166.0
1333052340.0
855083.0
300815900.0
423378552.0
254147934.0
10008914.0
640737.0
88267747.0
48477451.0
338535112.0
48079072.0
1378000.0
16426500.0
148076407.0
nan
38770497.0
nan
58904398.0
43110000.0
77573699.0
11919500.0
10895377.0
27500000.0
471186830.0
601747124.0
10487161.0
nan
4607825.0
48172936.0
19631546.0
15014.0
21615246.0
4174930444.0
74996453.0
6208507.0
113416099.0
6046055.0
255283854.0
54164676.0
48731533.0
6671252.0
121087979.0
115619769.0
10336958.0
1300000.0
1811456.0
32239213.0
28787054.0
6297227.0
175000.0
13355095.0
17159486.0
6270000.0
525600.0
8606404.0
4572837.0
18492618.0
793540.0
119000.0
6839043.0
485205173.0
116009849.0
19918500.0
6280106.0
36680249.0
49591024.0
12467318.0
56013763.0
56129105.0
972730368.0
100798649.0
311000.0
62444127.0
133109284.0
313473295.0
99775631.0
584781.0
151116580.0
364738171.0
194674653.0
49057656.0
955530.0
2636018.0
60045532.0
15055729.0
2750000.0
9748974.0
15668882.0
793729024.0
26223393.0
nan
467200.0
19662950.0
166000.0
208806446.0
442074321.0
29485700.0
14923845.0
160902964.0
51360700.0
259584771.0
4743888.0
42385.0
1096500.0
42452076.0
152293009.0
649749591.0
4857567.0
8874369.0
9400851.0
65803231.0
236241267.0
nan
18957000.0
4730000.0
24583769.0
22771385.0
19730000.0
310000.0
74387951.0
5200000.0
303373130.0
109907600.0
78031419.0
32936394.0
17886890.0
32182184.0
27390154.0
923876327.0
606116.0
10145000.0
232759237.0
103479811.0
27226236.0
4816687.0
101817799.0
8035576.0
93884772.0
51756996.0
61558069.0
12862368.0
134897466.0
70403250.0
510162944.0
10060000.0
2128322.0
6509860.0
1925000.0
7953000.0
1353000.0
122000.0
330000.0
17292470.0
12671316.0
35254454.0
nan
15835879.0

# Theme 4: Winners vs Losers
4.1) What is the overall average value of assets of the winners and the losers of the election? Also, find the ratio of the overall average value of assets of the Winners and Losers of the election.

In [87]:
df_w=df[df['WINNER']==1]['ASSETS'].mean()
df_w

209135673.3005566

In [88]:
df_l=df[df['WINNER']==0]['ASSETS'].mean()
df_l

104954788.82005495

In [93]:
print('The ratio of average values of assets of winners and loosers is',df_w,':',df_l)

The ratio of average values of assets of winners and loosers is 209135673.3005566 : 104954788.82005495

4.2) What is the overall average number of criminal cases for the winners and the losers of the election? Also, find the ratio of the overall average number of criminal cases of the Winners and Losers of the election.

In [91]:
df_wc=df[df['WINNER']==1]['CRIMINAL CASES'].mean()
df_wc

1.9090909090909092

In [92]:
df_lc=df[df['WINNER']==0]['CRIMINAL CASES'].mean()
df_lc

1.307481125600549

In [94]:
print('The ratio of average values of criminal cases of winners and loosers is',df_wc,':',df_lc)

The ratio of average values of criminal cases of winners and loosers is 1.9090909090909092 : 1.307481125600549

4.3) What is the overall gender distribution (number of Males and Females) for both the winners and the losers of the election?

In [96]:
df_wg=df[df['WINNER']==1]['GENDER'].value_counts()
df_wg

MALE      463
FEMALE     76
Name: GENDER, dtype: int64

In [97]:
df_lg=df[df['WINNER']==0]['GENDER'].value_counts()
df_lg

MALE      1297
FEMALE     182
Name: GENDER, dtype: int64

4.4) What is the overall average age for the winners and the losers of the election? Also, find the ratio of the overall average age of the Winners and the Losers in the election.

In [98]:
df_wa=df[df['WINNER']==1]['AGE'].mean()
df_wa

54.44155844155844

In [99]:
df_la=df[df['WINNER']==0]['AGE'].mean()
df_la

51.48343475321163

In [100]:
print('The ratio of average values of age of winners and loosers is',df_wa,':',df_la)

The ratio of average values of age of winners and loosers is 54.44155844155844 : 51.48343475321163

# Theme 5: Famous Politicians
5.1) What was the percentage of votes received by Mr Narendra Modi in the Varanasi constituency?
Note: Consider the variable 'OVER TOTAL VOTES POLLED IN CONSTITUENCY'.

In [38]:
df[(df['NAME']=='NARENDRA MODI') & (df['CONSTITUENCY']=='VARANASI')]['OVER TOTAL VOTES POLLED IN CONSTITUENCY']

2202    63.597809
Name: OVER TOTAL VOTES POLLED IN CONSTITUENCY, dtype: float64

5.2) Which candidate received the highest percentage of votes?
Note: Consider the variable 'OVER TOTAL ELECTORS IN CONSTITUENCY'.

In [40]:
df2=pd.DataFrame(df.groupby('NAME')['OVER TOTAL ELECTORS IN CONSTITUENCY'].mean()).reset_index().sort_values(by='OVER TOTAL ELECTORS IN CONSTITUENCY',ascending=False).head(1)
df2

                   NAME  OVER TOTAL ELECTORS IN CONSTITUENCY
1910  UDAY PRATAP SINGH                            51.456884

5.3) Name the 2 candidates who fought elections in Gandhinagar Constituency.

In [37]:
df[df['CONSTITUENCY']=='GANDHINAGAR']['NAME']

746           AMIT SHAH
747    Dr. C. J. CHAVDA
Name: NAME, dtype: object